
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.contaier-fluid{
    height: 100vh;
    width: 100vw;
    background-color:#2f2049 ;
    position: relative;
}
.log1{
    height: 100vh;
    width: 35vw;
    left: 0;
    position: absolute;
}
.log2{
    height: 100vh;
    width: 30vw;
    left: 910px;
    position: absolute;
}
.log3{
    height: 100vh;
    width: 35vw;
   right: 0;
    position: absolute;
}
.logimg{
    height: 900px;
    width: 35vw;
}
.logdata{
    height: 110px;
    width: 10vw;
    margin-top: 580px;
}
.logtxt{
    padding-left: 20px;
    padding-top: 35px;
    width: 25vw;
}
.logtxt2{
    padding-left: 20px;
    padding-top: 35px;
    width: 20vw;
}
.login{
    height: 1006px;
    width: 25vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: whitesmoke;
    margin-top: 300px;
}
.logdiv1{
    /* padding: 100px; */
    padding-top: 100px;
    padding-left: 90px;
    font-size: 2rem;
    padding-bottom: 20px;
}
.logtext{
    padding-left: 80px;
}
.textfield{
    font-size: 100px;
}
input[type="checkbox"]{
  height: 20px;
  width: 20px;
}
.logbtn{
    height: 50px;
    width: 450px;
   margin-left: 100px;
    background-color:#151416;
    color: white;
    margin-top: 30px;
    font-size: 25px;
    border-radius: 10px;
}
.loginput{
    padding: 30px;
    height: 50px;
    width: 450px;
    margin-left: 100px;
    font-size: 25px;
    color: black;
    margin-top: 10px;
    background-color: white;
    padding-top: 10px;
    border-radius: 10px;
}
.inp{
    margin-top: 30px;
}
.logdiv2{
    margin: 40px;
    font-size: 22px;
    margin-left: 200px;
}
.forgot{
    margin: 40px;
    font-size: 22px;
    margin-left: 150px;
}
.sign1{
    height: 100vh;
    width: 30vw;
    left: 0;
    position: absolute;
}
.signimg{
    height: 900px;
    width: 28vw;
}
.sign2{
    height: 100vh;
    width: 30vw;
    left: 700px;
    position: absolute;
}
.sign3{
    height: 100vh;
    width: 40vw;
   right: 0;
    position: absolute;
}
.signup{
    height: 1165px;
    width: 25vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: whitesmoke;
    margin-top: 140px;
}
.signdiv2{
    margin: 40px;
    font-size: 22px;
    margin-left: 150px;
}
.signdata{
    padding-top: 600px;
    height: auto;
    width: 25vw;
    padding-left: 10px;
}
.veriotp{
    padding-left: 460px;
    font-size: 23px;
    padding-top: 50px;
}
.veritxt{
    padding-left:15px;
    padding-top: 35px;
    width: 23vw;
}
.veritxt2{
    padding-left: 15px;
    padding-top: 35px;
    width: 20vw;
}
.veri2{
    height: 100vh;
    width: 30vw;
    left: 800px;
    position: absolute;
}
.veriinput{
    height: 70px;
    width: 70px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 15px;
    border: 0.5px solid #151416;
    border-radius: 10px;
}
.veridiv3{
    margin-left: 90px;
}
.veridiv1{
    /* padding: 100px; */
    padding-top: 100px;
    padding-left: 101px;
    font-size: 2rem;
    padding-bottom: 20px;
}